<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2 style="font-family: sans-serif; color: #483396;">Welcome to the team of SiriuS collaborators, <span style="color: #3c2b79;"><%= "#{@user.first_name}" %>!</span></h2>
    <p style="font-family: sans-serif; color: #483396;">I'm sure we're gonna achieve great things together.</p>
    <br>
    <p><em>Best Regards,</em></p>
    <p style="color: #483396;"><b><%= "#{@admin.first_name}  #{@admin.last_name}" %><b></p>
    <p style="color: #483396;"><b><%= "#{@admin.job_title}" %></b></p>
  </body>
</html>