<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Thank you for signing up to SiriuS, <%= @user.first_name %>!</h2>
    <p>Log in and join your new team and start collaborating today.</p>
  </body>
</html>