<h3 style="font-family: sans-serif; color: #483396; font-size: 14px;">Hello <span style="color: #3c2b79;"><%= @invite.first_name %> <%= @invite.last_name %>!</span></h3>
<p style="font-family: sans-serif; color: #483396; font-size: 14px;">It's time to roll up your sleeves. Your team at <b><%= @invite.company %></b> needs your expertise.</p>
<h4 style="font-family: sans-serif; color: #483396; font-size: 14px;">Come join our team! <%= link_to "Sign up", @link, {:style=> "text-decoration: none;"} %> now.</h4>