<pre style="font-family: sans-serif; color: #3c2b79; font-size: 14px;"><%= @invite.custom_invitation %></pre>
<h4 style="font-family: sans-serif; text-decoration: none; font-size: 14px;"><%= link_to "Sign up", @link %> and let's get SiriuS!</h4>