<h3 style="font-family: sans-serif;">Hello <span style="color: #3c2b79;"><%= @invite.first_name %> <%= @invite.last_name %>!</span></h3>
<p style="font-family: sans-serif; color: #483396;">It's time to roll up your sleeves. <%= @invite.company %> needs your expertise.</p>
<h4 style="font-family: sans-serif; color: #483396;">Come join our team! <%= link_to "Sign up", @link, {:style=> "text-decoration: none;"} %> now.</h4>