<pre style="font-family: sans-serif; color: #3c2b79;"><%= @invite.custom_invitation %><pre>
<h4 style="font-family: sans-serif; text-decoration: none;"><%= link_to "Sign up", @link %> and let's get SiriuS!</h4>