<h3 style="font-family: sans-serif;">Hello <%= @invite.first_name %> <%= @invite.last_name %>!</h3>
<p style="font-family: sans-serif;">It's time to roll up your sleeves. <%= @invite.company %> needs your expertise.</p>
<h4 style="font-family: sans-serif;">Come join our team! <%= link_to "Sign up", @link, {:style=> "text-decoration: none;"} %> now.</h4>